<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Modifier votre profile</h4>
          </div>
          <div class="card-body">         
            <form [formGroup]="form1">                
              <div class="row">

                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input  matInput placeholder="Enter your email" type="email" formControlName="email">
                      <mat-error *ngIf="form1.hasError('required','email')">E-mail is required</mat-error>
                      <mat-error *ngIf="form1.hasError('email','email')">E-mail is not valid</mat-error>
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Prénom" type="text" formControlName="firstName">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nom" type="text" formControlName="lastName">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Adresse" type="text" formControlName="adresse">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                    <mat-form-field>
                      <input  matInput placeholder="Enter le nouveau mot de passe" [type]="hide ? 'password' : 'text'" formControlName="password">
                      <mat-error *ngIf="form1.hasError('required','password')">Mot de passe obligatoire</mat-error>
                      <mat-error *ngIf="form1.hasError('pattern','password')">Mot de passe invalide</mat-error>
                    </mat-form-field>
                  </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="edit()" [disabled]="form1.invalid" >Enregistrer</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
