<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Groupe: Amira, Maha & Nidhal
                    </a>
                </li>
                <li>
                    <a href="#">
                        Instructeur: Salmene
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, 
            <a href="#" target="_blank">Five Points Academy</a>.
        </div>
    </div>
</footer>
