<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste d'utilisateurs</h4>
                        <input  matInput placeholder="recherche" name="recherche" [(ngModel)]="recherche">
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>firstName</th>
                                    <th>lastName</th>
                                    <th>E-mail</th>
                                    <th>Adresse</th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody  ng-repeat="user in users  ">
                                  <tr *ngFor="let user of users | filter:recherche;let i=index">
                                      <td>{{user.firstName}}</td>
                                      <td>{{user.lastName}}</td>
                                      <td>{{user.email}}</td>
                                      <td>{{user.adresse}}</td>
                                      <td><button mat-raised-button class="btn btn-success pull-right" type="button" [routerLink]="['/edit-user',i]">
                                        <span class="material-icons">
                                            border_color
                                            </span>
                                        Edit</button></td>
                                      <td><button mat-raised-button class="btn btn-danger pull-right" type="button" (click)="supprimer(i)">
                                        <span class="material-icons">
                                            delete_outline
                                            </span>
                                        
                                        Supprimer</button></td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  