<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste d'utilisateurs</h4>
                        <input  matInput placeholder="recherche" name="recherche" [(ngModel)]="recherche">
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>firstName</th>
                                    <th>lastName</th>
                                    <th>E-mail</th>
                                    <th>Adresse</th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody  ng-repeat="user in users  ">
                                  <tr *ngFor="let user of users | filter:recherche;let i=index">
                                      <td>{{user.firstName}}</td>
                                      <td>{{user.lastName}}</td>
                                      <td>{{user.email}}</td>
                                      <td>{{user.adresse}}</td>
                                      <td><button mat-raised-button class="btn btn-success pull-right" type="button" [routerLink]="['/edit-user',i]">
                                        <span class="material-icons">
                                            border_color
                                            </span>
                                        Edit</button></td>
                                      <td>
                                          <!-- <button mat-raised-button class="btn btn-danger pull-right" type="button" (click)="supprimer(i)">
                                        <span class="material-icons">
                                            delete_outline
                                            </span>
                                        
                                        Supprimer</button></td> -->
                                         <!-- Button trigger modal -->
                                         <button type="button" class="btn btn-primary" data-toggle="modal"
                                         data-target="#exampleModal">
                                         <span class="material-icons">
                                             delete_outline
                                         </span>
                                         supprimer
                                     </button>

                                     <!-- Modal -->
                                     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                         <div class="modal-dialog" role="document">
                                             <div class="modal-content">
                                                 <div class="modal-header">
                                                     <h5 class="modal-title" id="exampleModalLabel">supprimer l'utilisateur {{user.name}}?
                                                     </h5>
                                                     <button type="button" class="close" data-dismiss="modal"
                                                         aria-label="Close">
                                                         <span aria-hidden="true">&times;</span>
                                                     </button>
                                                 </div>
                                                 <div class="modal-body">
                                                     est ce que vous etes sur de supprimer l'utilisateur {{user.name}}?
                                                 </div>
                                                 <div class="modal-footer">
                                                     <button type="button" class="btn btn-secondary"
                                                         data-dismiss="modal">close</button>
                                                     <button type="button" class="btn btn-primary"  (click)="supprimer(i)">supprimer</button>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  