<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste de produits</h4>
                        <input  matInput placeholder="recherche" [(ngModel)]="recherche">
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>Nom </th>
                                    <th>price</th>
                                    <th>quantity</th>
                                    <th>description</th>
                                    <th>Category</th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody  ng-repeat="produit in produits  ">
                                  <tr *ngFor="let produit of produits | filter:recherche;let i=index">
                                      <td>{{produit.name}}</td>
                                      <td>{{produit.price}}</td>
                                      <td>{{produit.quantity}}</td>
                                      <td>{{produit.description}}</td>
                                      <td>{{produit.category}}</td>
                                      <td><button mat-raised-button  class="btn btn-success pull-right" type="button" [routerLink]="['/edit-produit',i]">
                                        <span class="material-icons">
                                            border_color
                                            </span>
                                            Edit</button></td>
                                      <td><button mat-raised-button class="btn btn-danger pull-right" type="button" (click)="supprimer(i)">
                                        <span class="material-icons">
                                            delete_outline
                                            </span>
                                        
                                            Supprimer</button></td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  